.h_thead {
    font-size: 11px !important;
    font-weight: bold;
    color: var(--color-white);

}

.h_body {
    font-size: 12px;
    font-weight: 510;
    color: var(--color-text-primary);
}

.badge {
    display: inline-block;
    padding: 2px 8px;
    font-size: 10px;
    font-weight: 600;
    border-radius: 8px;
    /* kecil juga biar selaras */
    line-height: 1.2;
}

.badge.ok {
    background: var(--color-oke-soft);
    /* hijau muda */
    color: var(--color-oke);
    /* hijau tua */
}

.badge.warn {
    background: var(--color-warning-soft);
    /* kuning muda */
    color: var(--color-warning);
    /* coklat tua */
}

.badge.danger {
    background: var(--color-danger-soft);
    /* merah muda */
    color: var(--color-danger);
    /* merah tua */
}

.shaddowText {
    text-shadow: 1px 1px 1px #00000077;
}

.orLogin {
    font-size: 14px;
    display: flex;
    /* background-color: aqua; */
    /* align-items: center;
    justify-content: center; */
    color: #828282;
}

.back-text {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    color: #828282;
    font-family: "SUSE", sans-serif;
}

.inputText {
    font-size: 10px;
}

.h_Home1 {
    font-size: 25pt;
    color: var(--color-primary-dark);
    font-family: "SUSE", sans-serif;
}

.h_Home2 {
    font-size: 15pt;
    font-family: "SUSE", sans-serif;
    font-weight: 200;
}

.h_Home3 {
    font-size: 10pt;
    font-family: "arial";
    font-style: italic;
}

.h_Home4 {
    font-size: 10pt;
    font-style: italic;
    text-decoration: none !important;
    color: var(--color-primary);
}

.h_Home5 {
    font-family: "SUSE", sans-serif;
    font-size: 50pt;
    color: var(--primary-soft);
    font-weight: bold;
    text-shadow: 2px 1px 5px rgb(0, 0, 0);
}

.h_ketTutor {
    font-size: 14px;
    font-family: "SUSE", sans-serif;
    color: var(--color-text-primary);
}

.text-center {
    /* display: flex;
    justify-content: center; */
    text-align: center !important;
}

.center {
    /* display: flex; */
    /* align-items: center; */
    text-align: center !important;
}

.center-items {
    display: flex;
    align-items: center;
}

.TextProfileContainer {
    border-radius: 5px;
    border-style: dashed;
    border-width: 5px;
    border-color: var(--color-background-row1);
    margin-top: 20px !important;
    margin: 5px;
}

.TextProfileHead {
    color: var(--color-banner-x2);
    font-size: 26px;
    font-weight: 600;
}

.TextProfileHead1 {
    color: var(--color-banner-x2);
    font-size: 18px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

.TextProfileLeftContainer {
    padding-left: 20px;
    padding-right: 20px;
}

.TextProfileLeftTitle {
    color: var(--color-border);
    margin-top: 5px;
    font-size: 12px;
    font-weight: 600;

    display: flex;
    align-items: center;
}


.TextProfileLeftVal {
    font-size: 14px;
    font-weight: 550;
    color: var(--color-primary-soft);

    border-bottom-style: dotted;
    border-bottom-width: 2px;
    border-bottom-color: var(--color-background-row1);

}

.barLeftText {
    color: var(--color-white);
    font-size: 12px;
    margin-top: -5px;
}

.barRightText {
    font-size: 30px;
    color: var(--color-white);
    font-weight: 600;
}

.dashboardListText1 {
    font-size: 13px;
    color: var(--color-text-primary);
    font-weight: 600;
}

.dashboardListText2 {
    font-size: 11px;
    color: var(--color-text-primary);
    line-height: 1;
    /* font-weight: 550; */
}

.dashboardListText3 {
    font-size: 10px;
    color: var(--color-border);
    /* font-weight: 550; */
}

.list-text1 {
    font-size: 13px;
    color: var(--color-text-secondary);
    font-weight: 600;
    /* text-decoration: underline; */
    /* font-family: "Poppins", sans-serif; */
}

.list-text2 {
    font-size: 11px;
    color: var(--color-secondary);
    line-height: 1;
    font-family: "Poppins", sans-serif;
}

.list-text3 {
    font-size: 16px;
    color: var(--color-text-primary);
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}


.tablex1 {
    font-family: "Poppins", sans-serif;
    font-size: 14px !important;
    color: var(--color-secondary) !important;
}

.tablex2 {
    font-size: 14px !important;
    color: var(--color-text-primary) !important;
    font-weight: 800;
    font-family: "SUSE", sans-serif;
}

.tablex3 {
    font-size: 12px !important;
    color: var(--color-text-primary) !important;
    font-weight: 400;
}

.tablex4 {
    font-size: 10px !important;
    color: var(--color-secondary);
    font-weight: 400;
}

.capitalFirst {
    text-transform: lowercase !important;
    text-transform: capitalize !important;
}

.loadingText {
    font-size: 20px;
    font-weight: 600;
    color: var(--color-primary-soft);
    margin-top: -20px;
    /* font-family: "Poppins", sans-serif; */
    font-family: "SUSE", sans-serif;
}

.h-body-t1 {
    font-size: 15px;
    font-weight: 600;
    color: var(--color-primary-soft);

}

.h_notif1 {
    font-size: 13px;
    /* font-weight: bold; */
    color: var(--color-text-secondary);
}

.h_notif {
    font-size: 13px;
    font-weight: bold;
    color: var(--color-danger1);
}


.titleBarHeader {
    color: var(--color-white);
    font-weight: 550;
    font-size: 20px;
}


@media only screen and (max-width: 600px) {

    .h_Home1 {

        font-size: 20pt;

    }

    .h_Home5 {

        font-size: 40pt;

    }

}