.inputContainer {
    padding-bottom: 5px;
}

.inputDate {
    border-style: solid;
    border-color: #c4c4c4;
    border-width: 1px;
    height: 35px;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

.inputDate:hover {
    border-color: #292929;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: url('https://cdn-icons-png.flaticon.com/512/747/747310.png') no-repeat center;
    background-size: 16px 16px;
    /* atur ukuran */
    color: #585858;
    /* hilangkan bawaan */
    opacity: 1;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.checkboxz .MuiFormControlLabel-label {
    font-size: 12px !important;
    color: #8a8a8a;
    font-weight: bold;
    /* perkecil huruf */
}


/* Container Utama */
.input-groupx {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    /* Jarak antara input dan button */
    max-width: 100%;
}

/* Styling Input Field */
.input-fieldx {
    flex: 1;
    padding: 10px 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    outline: none;
    transition: all 0.2s ease-in-out;
    margin-top: 8px;
}

/* Efek saat input diklik */
.input-fieldx:focus {
    border-color: #1976d2;
    /* Warna biru MUI */
    box-shadow: 0 0 0 2px rgba(25, 118, 210, 0.2);
}

/* Styling Button */
.submit-btnx {
    background-color: #1976d2;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    /* Agar tulisan tombol tidak turun ke bawah */
    transition: background-color 0.2s;
}

.submit-btnx:hover {
    background-color: #1565c0;
}

.submit-btnx:active {
    transform: translateY(1px);
}